name: Heroku Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node v14
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install dependencies
        run: npm ci

      - name: Deploy
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_app_name: "jklorenzo-pb-api"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          procfile: "web: node ./dist/index.js"
          buildpack: "https://github.com/heroku/heroku-buildpack-nodejs.git"
          healthcheck: "https://jklorenzo-pb-api.herokuapp.com/status"
          rollbackonhealthcheckfailed: true
          checkstring: "online"
          delay: 15
        env:
          HD_URI: ${{secrets.DB_URI}}
